<!doctype html>
<html lang=''>
<head>
<meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
   href= "{{ url_for('static',filename='styles/styles.css')}}">
</head>
<body>
<div id='cssmenu'>
<ul>
<li><img  style="height:7vh; padding-right:4px;padding-left:4px;" src="/static/images/icon.jpg" style=""></li>
<li><label style="height:7vh;padding-right:4px;font-size:28px;font-weight:bold;margin-top:5px;
padding-top:4px;">Thyroid Classification</label></li>
  <li><a href="/">Home</a></li>
  <li class="active"><a href="#">About</a></li>
  <li><a href="/form">Analyse your test report</a></li>
</ul>
</div>
<body>
<h3 style="color:#ff6600;font-size:30px;">HYPOTYHROIDISM and HYPERTHYROIDISM</h3>
<p style="font-size:20px;">HYPOTHYROIDISM, also called underactive thyroid or low thyroid, is a disorder of the endocrine system in which the thyroid gland does not produce enough thyroid hormone.It can cause a number of symptoms, such as poor ability to tolerate cold, a feeling of tiredness, constipation, depression, and weight gain. Occasionally there may be swelling of the front part of the neck due to goiter.</p>
<p style="font-size:20px;">HYPERTHYROIDISM, also called overactive thyroid, occurs when your thyroid gland produces too much of the hormone thyroxine. Hyperthyroidism can accelerate your body's metabolism, causing unintentional weight loss and a rapid or irregular heartbeat.</p>
<p style="font-size:40px;">If you had already taken your thyroidism test at a lab</p>
<p style="font-size:20px;">Analyse your test reports and check whether you are effected or not.
  <a href="/form">Click here to analyse!</a></p>NOTE:-This requires your hormone level values tested recently.</p>
<br>
<center><p style="font-size:20px;font-weight:bold;">Consult a Doctor For More Queries!</p></center>

</body>
</html>