gunicorn==19.9.0
itsdangerous==1.1.0
numpy>=1.9.2
spicy>=0.15.1
scikit-learn>=0.18
pandas>=0.19
astroid==2.3.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
et-xmlfile==1.0.1
Flask==1.0.2
httplib2==0.12.1
idna==2.8
info-gain==1.0.1
isort==4.3.21
jdcal==1.4.1
Jinja2==2.10
lazy-object-proxy==1.4.3
MarkupSafe==1.1.0
mccabe==0.6.1
oauth2client==4.1.3
openpyxl==3.0.1
pip==20.0.2
pyasn1==0.4.5
pyasn1-modules==0.2.4
pylint==2.4.4
requests==2.21.0
rsa==4.0
setuptools==40.6.2
six==1.12.0
SQLAlchemy==1.2.18
typed-ast==1.4.0
urllib3==1.24.1
virtualenv==16.2.0
Werkzeug==0.14.1
wrapt==1.11.2
